{% extends "base.html" %}

{% block contenido %}

	<!-- formulario -->
	<div class="panel panel-default">
		<div class="panel-heading">registracion</div>
		<div class="panel-body">
			
			<form action="{{ urlFor('registracion-post') }}" method="POST" role="form">
				<div class="form-group">
					<label for="username">nombre de usuario: </label>
					<input type="text" class="form-control" name="username">
					<label for="password">password: </label>
					<input type="password" class="form-control" name="password">
					<label for="email">email: </label>
					<input type="email" class="form-control" name="email">
					<label for="nombre">nombre: </label>
					<input type="nombre" class="form-control" name="nombre">
				</div>		
				<button type="submit" class="btn btn-primary">aceptar</button>
			</form>
			
		</div>
	</div>

{% endblock %}