<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>bestnid</title>
  <link rel="stylesheet" href="/dependencias/componentes/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/dependencias/componentes/fancybox/source/jquery.fancybox.css">
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  {% block css %}{% endblock %}
</head>
<body>
  <div class="container">

    {% block header %}

    <div class="row menu">
      <div class="col-md-3">
        <a class="logo" href="{{ urlFor('index') }}">
          <img alt="bestnid" src="/img/logo2.png">
        </a>
      </div>

      <div class="col-md-9" style="padding-top: 18px;">    
        <!-- buscador -->
        <form class="navbar-form pull-left" method="GET" action="{{ urlFor('buscar-subastas') }}">
          <div class="form-group">
            <input type="text" class="form-control" id="buscador" name="q" style="width: 230px">
            <select class="form-control" id="id_categoria" name="id_categoria" style="width: 215px;">
              <option value="0">Todas las categorías</option>
              {% for id, categoria in categorias %}
                {% if id == filtros.id_categoria %}
                  <option value="{{ id }}" selected>{{ categoria }}</option>
                {% else %}
                  <option value="{{ id }}">{{ categoria }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Buscar</button>
        </form>
        <!-- menu -->
        <ul class="nav nav-pills pull-right">
          {% if usuario %}
            <li role="presentation">
              {% if usuario.rol == 'admin' %}
                <a href="{{ urlFor('admin') }}">
                  <span class="glyphicon glyphicon-cog"></span> Administración
                </a>
              {% elseif usuario.rol == 'miembro' %}
                <a href="{{ urlFor('perfil')  }}">
                  <span class="glyphicon glyphicon-home"></span> {{ usuario.nombre | split(' ') | first }}
                </a>
              {% endif %}
            </li>
            <li role="presentation"><a href="{{ urlFor('logout') }}">Salir</a></li>
          {% else %}
            <li role="presentation"><a href="{{ urlFor('login') }}">
              <span class="glyphicon glyphicon-user"></span> Ingresar</a>
            </li>
            <li role="presentation"><a href="{{ urlFor('registracion') }}"><span class="glyphicon glyphicon-pencil"></span> Registrarse</a></li>
          {% endif %}
        </ul>
      </div>
      
    </div>

    {% endblock %}

    {% if flash.mensaje %}
      <!-- mensajes -->
      <div class="alert alert-success" role="alert">{{ flash.mensaje }}</div>
    {% endif %}

    {% if flash.error %}
      <!-- errores -->
      <div class="alert alert-danger" role="alert">{{ flash.error }}</div>
    {% endif %}

    <div class="row main">

    {% block main %}

      <div class="col-md-9 col-sm-12 col-xs-12 pull-right">
        {% block contenido %}
        {% endblock %}
      </div>

      {% block paneles %}
        <!-- paneles -->
        <div class="col-md-3 col-sm-12 col-xs-12 pull-left">
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Subastas</h3>
            </div>
            <div class="list-group">
              <a class="list-group-item" href="{{ urlFor('ordenar-popularidad') }}">Mas populares</a>
              <a class="list-group-item" href="{{ urlFor('ordenar-finalizacion') }}">Próximas a finalizar</a>
              <a class="list-group-item" href="{{ urlFor('ordenar-ultimas') }}">Ultimas agregadas</a>
            </div>
          </div>

          {% if usuario.rol != 'admin' %}
            <div class="panel">
              <a class="list-group-item" href="{{ urlFor('publicar-subasta') }}"><span class="glyphicon glyphicon-bullhorn"></span> Publicar subasta</a>
            </div>
          {% endif %}

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Categorias
                {% if usuario and usuario.rol == 'admin' %}
                  <span class="pull-right"> | <a href="{{ urlFor('admin-categorias')}}">editar</a></span>
                {% endif %}
              </h3>
            </div>
            <div class="panel-body">
              <ul class="list-unstyled">
                {% for id, categoria in categorias %}
                  <li><a href="{{ urlFor('categoria', {'id' : id }) }}">{{ categoria }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endblock %}
      
    {% endblock %}

    </div><!--.row.main-->

  </div><!--.container-->

  <footer>
  {% block footer %}
    <div class="container">
      <div class="pull-left">
        <ul class="list-inline">
          <li>[ <a href="https://drive.google.com/file/d/0B_yllQrOLIKWa1gzZzFOa0pPa0k/view" target="_blank">Ayuda</a> ]</li>
          <li>[ <a href="{{ urlFor('contacto') }}">Contacto</a> ]</li>
        </ul>
      </div>
      <div class="pull-right">
        <span>Bestnid, 2015</span>
      </div>
    </div>
  {% endblock %}
  </footer>

  <script src="/dependencias/componentes/jquery/dist/jquery.min.js"></script>
  <script src="/dependencias/componentes/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/dependencias/componentes/fancybox/source/jquery.fancybox.pack.js"></script>

  <script type="text/javascript">

    $(document).ready(function() {
      $(".fancybox").fancybox();
      $('[data-toggle="tooltip"]').tooltip(); 
    });

  </script>

  {% block js %}
  {% endblock %}
  
</body>
</html>