<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>bestnid</title>
  <link rel="stylesheet" href="/dependencias/componentes/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/base.css">
</head>
<body>
  <div class="container">

    {% block header %}

    <div class="header clearfix">

      <!-- menu -->
      <ul class="nav nav-pills pull-right">
          {% if session %}
            <li role="presentation"><a href="#">{{ session.nombre }}</a></li>
            <li role="presentation"><a href="{{ urlFor('logout') }}">Salir</a></li>
          {% else %}
            <li role="presentation"><a href="{{ urlFor('login') }}">Ingresar</a></li>
            <li role="presentation"><a href="{{ urlFor('registracion') }}">Registrarse</a></li>
          {% endif %}
          <li role="presentation"><a href="#">Ayuda</a></li>
        </ul>

      <div class="pull-left">
        <a href="{{ urlFor('index') }}">
          <img alt="bestnid" src="/img/logo.png" width="100">
        </a>
      </div>
      
      <!-- buscador -->
      <form class="navbar-form form-inline pull-left" method="GET" action="{{ urlFor('buscar-subastas') }}">
        <div class="form-group">
          <input type="text" class="form-control" id="buscador" name="q">
          <select class="form-control" id="cat_id" name="cat_id">
            <option value="0">Todas las categorías</option>
            {% for id, categoria in categorias %}
              {% if id == filtros.cat_id %}
                <option value="{{ id }}" selected>{{ categoria }}</option>
              {% else %}
                <option value="{{ id }}">{{ categoria }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Buscar</button>
      </form>

    </div>

    {% endblock %}

    {% if flash.mensaje %}
      <!-- mensajes -->
      <div class="alert alert-success" role="alert">{{ flash.mensaje }}</div>
    {% endif %}

    {% if flash.error %}
      <!-- errores -->
      <div class="alert alert-danger" role="alert">{{ flash.error }}</div>
    {% endif %}

    <div class="row main">

    {% block main %}

      <div class="col-md-9 pull-right">
        {% block contenido %}
        {% endblock %}
      </div>

      {% block paneles %}
        <!-- paneles -->
        <div class="col-md-3 col-sm-12 col-xs-12 pull-left">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Listar subastas</h3>
            </div>
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><a href="{{ urlFor('ordenar-popularidad') }}">Subastas mas populares</a></li>
                <li><a href="{{ urlFor('ordenar-finalizacion') }}">Próximas a finalizar</a></li>
                <li><a href="{{ urlFor('ordenar-ultimas') }}">Ultimas agregadas</a></li>
              </ul>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Categorias</h3>
            </div>
            <div class="panel-body">
              <ul class="list-unstyled">
                {% for id, categoria in categorias %}
                  <li><a href="{{ urlFor('categoria', {'id' : id }) }}">{{ categoria }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>

        </div>
      {% endblock %}
      
    {% endblock %}

    </div><!--.row.main-->

  </div><!--.container-->

  <script src="/dependencias/componentes/jquery/dist/jquery.min.js"></script>
  <script src="/dependencias/componentes/bootstrap/dist/js/bootstrap.min.js"></script>
  
</body>
</html>