{% extends "admin/base.html" %}

{% block contenido %}

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Borrar</th>
      </tr> 
    </thead>
    <tbody>
      {% for u in usuarios %}
        {% if u.id != usuario.id %}
          <tr>       
            <td>{{ u.nombre }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.rol }}</td>
            <td><a class="text-danger" href="{{ urlFor('admin-borrar-usuario', { 'id': u.id }) }}">borrar</a></td>
          </tr> 
        {% endif %}
      {% endfor %}    
    </tbody>
  </table>

{% endblock %}