body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.logo {
	height: 88px;
}

.nav-pills {
	margin-top: 4px;
	margin-bottom: 8px;
}

.menu {
	margin-top: 10px !important;
    margin-bottom: 20px !important;
}

.subasta-destacada .descripcion {
	height: 3em;
}

.subasta-destacada {
	box-shadow: 2px 2px 0px rgba(160, 160, 160, 0.34);
}

.subasta-meta {
	color: gray;
}

.subasta-item {
	box-shadow: 2px 2px 0px rgba(160, 160, 160, 0.34);
	border: 1px solid lightgray;
	padding: 10px;
}

.center-block {
	float: none;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*
#uploads-preview {
	margin-top: 10px;
	padding: 10px;
	border: 2px dashed lightgray;
}
*/

#uploads-preview img {
	height: 150px;
	margin: 10px;
}

.subasta-detalle .titulo {
	margin-top: 0px;
}

.subasta-detalle .fotos {
	background: rgb(240, 240, 240);
	padding: 15px;
}

.subasta-detalle .fotos img {
	height: 280px;
}

.subasta-detalle .descripcion {
	padding: 15px;
}