{% extends "base.html" %}

{% block contenido %}

    <p>Resultados para: <strong>{{ q }}</strong></p>
    <form class="form-inline">
      <input type="hidden" name="q" value="{{ q }}">
      <input type="hidden" name="cat_id" value="{{ filtros.cat_id }}">
      <div class="form-group">
        <label for="desde">Desde: </label>
        <input type="date" class="form-control" name="desde" id="desde" value="{{ filtros.desde }}">
      </div>
      <div class="form-group">
        <label for="hasta">Hasta: </label>
        <input type="date" class="form-control" name="hasta" id="hasta" value="{{ filtros.hasta }}">
      </div>
      <div class="form-group">
        <label for="order">Ordenar por: </label>
        <select class="form-control" id="order" name="order">
        {% for filtro in filtros.order %}
          {% if filtro == filtros.order_selected %}
            <option value="{{ filtro }}" selected>{{ filtro | capitalize }}</option>
          {% else %}
            <option value="{{ filtro }}">{{ filtro | capitalize }}</option>
          {% endif %}
        {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-default">Filtrar</button>
    </form>
    <br>
    <div class="subastas">
      {% for subasta in subastas %}
      <div class="subasta-item media">
        <div class="media-left">
            <a href="{{ urlFor('subasta', {id: subasta.id}) }}">
              <img src="/uploads/{{ subasta.foto }}" class="media-object" style="width: 120px; height: 120px; object-fit: cover;">
            </a>
        </div>
        <div class="media-body">
        <h4 class="media-heading"><a href="{{ urlFor('subasta', {id: subasta.id}) }}">{{ subasta.titulo }}</a></h4>
        <p>{{ subasta.descripcion }}</p>
        <p class="subasta-meta">
          <small>
            <em>{{ subasta.clicks }} clicks</em><br>
            <span class="glyphicon glyphicon-time"></span>
            Finaliza el {{ subasta.finalizacion | date("d-m-Y") }}            
          </small>
          <a href="{{ urlFor('subasta', {id: subasta.id}) }}" class="btn btn-default pull-right" role="button">Ver subasta</a>
        </p>
        </div>
      </div>
      {% endfor %}
    </div>

    <nav>
      <ul class="pager">
        <li class="previous"><a href="{{ urlFor('index') }}">&larr; Volver al inicio</a></li>
      </ul>
    </nav>

{% endblock %}